.container {
    width: 100%;
    height: 400px;
    background-color: #1f1f1f;
    padding: 15px;
    position: relative;
    margin-top: 30px;
    border-radius: 25px;
}

.song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.song-control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.song-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1DB954;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.2s ease;

    .icon {
        width: 60px;
        height: 60px;
        color: #000;
    }

    &:hover {
        background-color: #1ED760;
        transform: scale(1.06);
    }
}

.song-info {}

.song-name {
    font-size: 23px;
    color: #FFFFFF;
    margin: 0;
}

.song-author {
    font-size: 14px;
    color: #B3B3B3;
    margin: 0;
}

.song-img {
    width: 250px;
    height: 235px;
    height: 235px;
    background: linear-gradient(135deg,
            #2a2a2a 0%,
            #121212 100%);
    border-radius: 20px;
    margin-top: 20px;

    .image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
}

.audio {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

.waveform {
    cursor: pointer;
    position: relative;

    &:hover .hover-wave {
        opacity: 1;
    }
}

.hover-wave {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    pointer-events: none;
    height: 70%;
    width: 0;
    mix-blend-mode: overlay;
    background: rgba(30, 215, 96, 0.15);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.time,
.duration {
    position: absolute;
    z-index: 11;
    top: 40%;
    margin-top: -1px;
    transform: translateY(-50%);
    font-size: 11px;
    background: rgba(0, 0, 0, 0.75);
    padding: 2px;
    color: #ddd;
}

.time {
    left: 0;
}

.duration {
    right: 0;
}

.overlay {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    backdrop-filter: brightness(0.5);
}